# =============== #
# Unity generated #
# =============== #

/Voyager Unity Project/Library
/Voyager Unity Project/Temp
/Voyager Unity Project/game_Data
/Voyager Unity Project/Assets/UnityVS
/Voyager Unity Project/Assets/UnityVS.meta
/Voyager Unity Project/*.exe

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.exe 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db



*.xcworkspacedata
shipSimulating/shipSimulating.xcodeproj/project.pbxproj
shipSimulating/shipSimulating.xcodeproj/project.xcworkspace/xcuserdata/zeev.xcuserdatad/UserInterfaceState.xcuserstate
shipSimulating/shipSimulating.xcodeproj/xcuserdata/zeev.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
shipSimulating/shipSimulating.xcodeproj/xcuserdata/zeev.xcuserdatad/xcschemes/shipSimulating.xcscheme
shipSimulating/shipSimulating.xcodeproj/xcuserdata/zeev.xcuserdatad/xcschemes/xcschememanagement.plist
